.admin-container {
    display: flex;
    background-color: hsla(0, 0%, 0%, 0.714);
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }

    .admin-content {
        width: 100%;
        .admin-header {
            height: 40px;
            border: 1px solid green;
        }

        .admin-main {
            border: 1px solid yellow;
        }
    }
}